server:
  port: ${SERVER_PORT:8082}

batch:
  chunk-size: ${BATCH_CHUNK_SIZE:100}
  page-size: ${BATCH_PAGE_SIZE:100}
  max-read-skips: ${BATCH_MAX_READ_SKIPS:10}
  fetch-delay-millis: ${BATCH_FETCH_DELAY_MILLIS:1000}

tc-service:
  apiUrl: ${TC_API_URL:http://localhost:8080/api/admin}
  search-id: ${TC_SEARCH_ID:4672}
  username: ${TC_USERNAME:appAnonDatabaseService}
  password: ${TC_PASSWORD:12345678} # todo - sm - just a dummy value for local testing

spring:
  application:
    name: tc-api-service
# Uncomment to set the active profile to bootstrap for testing
#  profiles:
#    active: bootstrap

  flyway:
    enabled: true

  jpa:
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate # Validate entities match DB but does not modify schema
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect # Set the Hibernate dialect to Postgres
        validate: false # Optional: Disable schema validation if necessary
        order_by.default_null_ordering: last
        temp:
          use_jdbc_metadata_defaults: false
        format_sql: true

  # Aurora-Postgres
  datasource:
    url: jdbc:postgresql://localhost:5433/tctalent
    username: tctalent
    password: tctalent
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 10
      max-lifetime: 1800000 # 30 minutes

  # Mongo
  data:
    mongodb:
      uri: mongodb://tctalent:tctalent@localhost:27017/tctalent?authSource=admin

  # Batch
  batch:
    jdbc:
      initialize-schema: never # batch schema are initialised by flyway
    job:
      enabled: false # enable/disable auto-run of jobs
